@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
body
{
	background:black;
}
section
{
	position: relative;
	width: 100%;
	height: 100vh;
}

section.content
{
	z-index: 1;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
section:nth-child(2).content
{
	padding-top: 100vh;
}
section.content h2
{
	-webkit-text-stroke: 1px #fff;
	color: transparent;
	font-size: 8em;
	line-height: 0.9em;
}
section.content h2 c
{
	color: #fff;
	-webkit-text-stroke: 0 #fff;
}
section.content h2 span
{
	position: relative;
	background: #fff;
	font-size: 0.2em;
	display: inline-block;
	color: #000;
	padding: 0 10px;
	top: -30px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.5em;
	-webkit-text-stroke: 0px #fff;
}
::-webkit-scrollbar
{
	width: 0;
}
section.content img
{
	max-width: 300px;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
#confettis {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  .confetti {
    left: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    transform-origin: left top;
    animation: confetti 5s ease-in-out -2s infinite;
  }
  
  @keyframes confetti {
    0% {
      transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
    }
    25% {
      transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
    }
    50% {
        transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
      }
      75% {
        transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
      }
      100% {
        transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
      }
    }
    .confetti:nth-child(1) {
        left: 10%;
        animation-delay: 0;
        background-color: #fc0120;
      }
      
      .confetti:nth-child(2) {
        left: 20%;
        animation-delay: -5s;
        background-color: #8257e6;
      }
      
      .confetti:nth-child(3) {
        left: 30%;
        animation-delay: -3s;
        background-color: #ffbf4d;
      }
      
      .confetti:nth-child(4) {
        left: 40%;
        animation-delay: -2.5s;
        background-color: #fe5d7a;
      }
      
      .confetti:nth-child(5) {
        left: 50%;
        animation-delay: -4s;
        background-color: #45ec9c;
      }
      .confetti:nth-child(6) {
        left: 60%;
        animation-delay: -6s;
        background-color: #f6e327;
      }
      
      .confetti:nth-child(7) {
        left: 70%;
        animation-delay: -1.5s;
        background-color: #f769ce;
      }
      
      .confetti:nth-child(8) {
        left: 80%;
        animation-delay: -2s;
        background-color: #007de7;
      }
      
      .confetti:nth-child(9) {
        left: 90%;
        animation-delay: -3.5s;
        background-color: #63b4fc;
      }
      
      .confetti:nth-child(10) {
        left: 100%;
        animation-delay: -2.5s;
        background-color: #f9c4ea;
      }